.account-info-left {
    max-width: 50%;
    float: left;
    display: inline-block;
    margin: 0 0.5rem;
}
.account-info-right {
    max-width: 50%;
    float: right;
    display: inline-block;
    margin: 0 0.5rem;
}

.alert-border {
    border-color: #dc3545;
}

.success-border {
    border-color: #28a745;
}

@media screen and (max-width: 1024px) {
    .account-info-left {
        max-width: 100%;
        width: 100%;
        display: block;
        float: left;
    }

    .account-info-right {
        max-width: 100%;
        width: 100%;
        display: block;
        float: left;
    }
}