.account-info-left {
    max-width: 50%;
    float: left;
    display: inline-block;
    margin: 0 0.5rem;
}
.account-info-right {
    max-width: 50%;
    float: right;
    display: inline-block;
    margin: 0 0.5rem;
}

.alert-border {
    border-color: #dc3545;
}

.success-border {
    border-color: #28a745;
}

.current-team {
    padding: 0;
    margin-bottom: 0.2rem;
}

.notifications-list {
    margin-bottom: 1rem;
}

.bid-input {
    background-color: #343a40;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .account-info-left {
        max-width: 100%;
        width: 100%;
        display: block;
        float: left;
    }

    .account-info-right {
        max-width: 100%;
        width: 100%;
        display: block;
        float: left;
    }

    .mobile-modal {
        max-width: 90%;
    }

    .bid-input {
        font-size: 2rem;
    }

    .bid-checkbox {
        transform: scale(3);
    }
}