{% extends "base.html" %}
{% load static %}

{% block head %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    {% if user.player.is_captain %}
        <script src="{% static 'js/send_bid.js' %}"></script>
    {% elif user.is_staff %}
        <script src="{% static 'js/accept.js' %}"></script>
    {% endif %}
{% endblock %}

{% block body %}
    {% if user.is_anonymous %}
        <form>
            <div class="form-group mobile-font-size-head">
                <label for="username-input-pg">Логин</label>
                <input type="input" class="form-control mobile-font-size-head" id="username-input-pg" aria-describedby="emailHelp">
            </div>
            <div class="form-group mobile-font-size-head">
                <label for="password-input-pg">Пароль</label>
                <input type="password" class="form-control mobile-font-size-head" id="password-input-pg">
                <small id="danger-mes-pg" class="form-text text-muted mobile-font-size" style="display:none; color:#ff0000!important">Password or username is wrong</small>
            </div>
            <input type="button" class="btn btn-primary mobile-font-size-head" id="signin-btn-pg" value="Вход">
        </form>
    {% elif user.is_staff %}
        <div class="account-info-left mobile-font-size">

            <a class="btn btn-primary group-btn" data-toggle="collapse" href="#notifications" role="button" aria-expanded="false">
                Bids
            </a>
            <div class="collapse" id="notifications">
                <ul class="list-group notifications-list">
                    {% for notif in notifications %}
                    <li class="list-group-item
                            {% if not notif.accepted and not notif.declined %}list-group-item-secondary
                            {% elif notif.accepted %}list-group-item list-group-item-success
                            {% elif notif.declined %}list-group-item list-group-item-danger
                            {% endif %}">
                        {{ notif.team.name }} &#10132; {{ notif.championat.championat }}
                        {% if not notif.accepted and not notif.declined and notif.sended %}
                        <button id="accept-team-bid-{{ notif.id }}" name="accept-bid-btn" type="button" class="btn btn-success btn-sm calendar-table accept-btn" data-target="{{ notif.id }}">&#10003;</button>
                        <button id="decline-team-bid-{{ notif.id }}" name="decline-bid-btn" type="button" class="btn btn-danger btn-sm calendar-table decline-btn" data-target="{{ notif.id }}">&#10008;</button>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            {% for championat in championats %}
                <a class="btn btn-primary group-btn" data-toggle="collapse" href="#championat-{{ championat.0.id }}" role="button" aria-expanded="false">
                    {{ championat.0.season.year }} - {{ championat.0.championat }}
                </a>
                <div class="collapse" id="championat-{{ championat.0.id }}">
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Day</th>
                            <th scope="col">Onetime games</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for slot in championat.0.default_slots.all %}
                            <tr>
                                <th>{{ slot.time }}</th>
                                <th>{{ slot.day }}</th>
                                <th>{{ slot.onetime_games }}</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary btn-sm mobile-font-size-head" style="margin-bottom:1rem">Create timeslots for next week</button>

                    <a class="btn btn-light group-btn" data-toggle="collapse" href="#teams-{{ championat.id }}" role="button" aria-expanded="false">
                        Teams
                    </a>
                    <div class="collapse" id="teams-{{ championat.id }}">
                        <table class="table table-dark">
                            <thead>
                            <tr>
                                <th scope="col">Team</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for team in championat.1 %}
                                <tr>
                                    <th>{{ team.name }}</th>
                                    <th>
                                        {% if team.ban == 0 %}
                                        <button id="team-{{ team.id }}-{{ group.id }}" name="suspens-btn" type="button" class="btn btn-danger mobile-font-size">
                                            Ban
                                        </button>
                                        {% else %}
                                        <span class="btn-warning mobile-font-size">Baned</span>
                                        {% endif %}
                                    </th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="account-info-right mobile-font-size">
            <div class="card">
                {% if user.player.all.first.logo %}
                <img src="{{ user.player.all.first.logo.url }}" class="card-img-top">
                {% else %}
                <img src="{% static 'img/hool_logo.png' %}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    {% for team in user.player.all.first.team.all %}
                    <h5 class="card-title mobile-font-size-head">{{ team.name }}</h5>
                    {% endfor %}
                    <p class="card-text">{{ user.last_name }} {{ user.first_name }} {% if user.player %}{{ user.player.patronymic }}{% endif %}</p>
                    <button type="button" class="btn btn-success mobile-font-size-head" id="invite-btn-pg">Invite player</button>
                    <button type="button" class="btn btn-secondary mobile-font-size-head" id="logout-btn-pg">Log Out</button>
                    <label id="invite-mes-label" class="form-text text-muted mobile-font-size-head" style="display:none; color:#ff0000!important"></label>
                </div>
            </div>
        </div>

    {% elif user.is_authenticated and user.player.is_captain %}
        <div class="account-info-left mobile-font-size">
            {% if notifications.count > 0 %}
            <a class="btn btn-primary group-btn" data-toggle="collapse" href="#notifications" role="button" aria-expanded="false">
                Bids
            </a>
            <div class="collapse" id="notifications">
                <ul class="list-group notifications-list">
                    {% for notif in notifications %}
                    <li class="list-group-item
                            {% if not notif.accepted and not notif.declined %}list-group-item-secondary
                            {% elif notif.accepted %}list-group-item list-group-item-success
                            {% elif notif.declined %}list-group-item list-group-item-danger
                            {% endif %}">
                        {{ notif.source_team.name }} &#10132; {{ notif.target_team.name }}
                        {% if not notif.accepted and not notif.declined %}
                            <button id="accept-team-bid-{{ team.0.team.id }}" name="accept-bid-btn" type="button" class="btn btn-success btn-sm calendar-table accept-btn" data-target="{{ notif.id }}">&#10003;</button>
                            <button id="decline-team-bid-{{ team.0.team.id }}" name="decline-bid-btn" type="button" class="btn btn-danger btn-sm calendar-table decline-btn" data-target="{{ notif.id }}">&#10008;</button>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% for team in player_teams %}
                <a class="btn btn-primary group-btn" data-toggle="collapse" href="#team{{ team.0.id }}" role="button" aria-expanded="false">
                    {{ team.0.name }}
                </a>
                <div class="collapse" id="team{{ team.0.id }}">
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col" class="calendar-table">Player name</th>
                            <th scope="col" class="calendar-table">Player number</th>
                            <th scope="col" class="calendar-table">Position</th>
                            <th scope="col" class="calendar-table">Birth date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in team.1 %}
                            <tr>
                                <th scope="row" class="calendar-table">{{ player.last_name }} {{ player.first_name }}</th>
                                <td class="calendar-table" style="text-align: center">
                                    {% for t in player.player_teams.all %}{% if t.team == team.0 %}{{ t.number }}{% endif %}{% endfor %}
                                </td>
                                <td class="calendar-table">
                                    {% for t in player.player_teams.all %}{% if t.team == team.0 %}{{ t.position }}{% endif %}{% endfor %}
                                </td>
                                <td class="calendar-table">{{ player.birthday|date:'d.m.y' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% for group in team.0.group.all %}
                        {% if not group.league.champ.active and not group.league.champ.ended %}
                            <button type="button" class="btn btn-link mobile-font-size" data-toggle="modal" data-target="#bid-{{ group.league.championat.id }}">
                                Create bid for {{ group.league.championat.championat }}
                            </button>

                            <div class="modal fade" id="bid-{{ group.league.championat.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog mobile-modal" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <table class="table table-dark" id="bid-table-{{ team.0.id }}">
                                                <thead>
                                                <tr>
                                                    <th scope="col" class="calendar-table">Player name</th>
                                                    <th scope="col" class="calendar-table">Player number</th>
                                                    <th scope="col" class="calendar-table">Position</th>
                                                    <th scope="col" class="calendar-table">Birth date</th>
                                                    <th scope="col" class="calendar-table">Add</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for player in team.1 %}
                                                <tr data-player="{{ player.id }}">
                                                    <th scope="row" class="calendar-table">{{ player.last_name }} {{ player.first_name }} {{ player.patronymic }}</th>
                                                    {% for t in player.player_teams.all %}{% if t.team == team.0 %}
                                                        {% if t.number %}
                                                            <td class="calendar-table" style="text-align: center"><span id="number-{{ team.0.id }}-{{ player.id }}">{{ t.number }}</span></td>
                                                        {% else %}
                                                            <td class="calendar-table" style="text-align: center">
                                                                <input id="number-{{ team.0.id }}-{{ player.id }}" type="number" class="form-control bid-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                                    min="1" step="1" name="player-number">
                                                            </td>
                                                        {% endif %}
                                                    {% endif %}{% endfor %}
                                                    {% for t in player.player_teams.all %}{% if t.team == team.0 %}
                                                        {% if t.position %}
                                                            <td class="calendar-table"><span id="pos-{{ team.0.id }}-{{ player.id }}">{{ t.position }}</span></td>
                                                        {% else %}
                                                            <td class="calendar-table">
                                                                <input id="pos-{{ team.0.id }}-{{ player.id }}" type="text" class="form-control bid-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                                       min="1" step="1" name="player-pos">
                                                            </td>
                                                        {% endif %}
                                                    {% endif %}{% endfor %}
                                                    <td class="calendar-table">{{ player.birthday|date:'d.m.y' }}</td>
                                                    <td class="calendar-table" style="text-align:center">
                                                        <input class="form-check-input bid-input bid-checkbox" type="checkbox" value="" id="checkbox-{{ team.0.id }}-{{ player.id }}"
                                                               {% for t in player.player_teams.all %}{% if t.team == team.0 %}
                                                                   {% if not t.number or not t.position %}disabled{% endif %}
                                                               {% endif %}{% endfor %}
                                                               {% for bid in group.league.championat.team_bids.all %}{% if bid.team == team.0 and player in bid.players.all %}
                                                                   checked
                                                               {% endif %}{% endfor %}
                                                        >
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <span id="success-bid-{{ group.league.championat.id }}-{{ team.0.id }}" class="btn-success" style="display:none">&#10003;</span>
                                            <span id="error-bid-{{ group.league.championat.id }}-{{ team.0.id }}" class="btn-danger" style="display:none">&#10008;</span>
                                            <button id="send-bid-{{ group.league.championat.id }}-{{ team.0.id }}" name="send-bid-btn" type="button" class="btn btn-success btn-sm calendar-table accept-btn"
                                                    data-team="{{ team.0.id }}"
                                                    data-championat="{{ group.league.championat.id }}"
                                                    data-bid="{% for bid in group.league.championat.team_bids.all %}{% if bid.team == team.0 %}{{ bid.id }}{% endif %}{% endfor %}"
                                                    {% for bid in group.league.championat.team_bids.all %}{% if bid.team == team.0 and bid.sended %}
                                                        disabled
                                                    {% endif %}{% endfor %}
                                            >Send bid</button>
                                            <button id="save-bid-changes-{{ group.league.championat.id }}-{{ team.0.id }}" name="save-bid-btn" type="button" class="btn btn-warning btn-sm calendar-table decline-btn"
                                                    data-team="{{ team.0.id }}"
                                                    data-championat="{{ group.league.championat.id }}"
                                                    data-bid="{% for bid in group.league.championat.team_bids.all %}{% if bid.team == team.0 %}{{ bid.id }}{% endif %}{% endfor %}"
                                                    {% for bid in group.league.championat.team_bids.all %}{% if bid.team == team.0 and bid.sended %}
                                                        disabled
                                                    {% endif %}{% endfor %}
                                            >Save bid</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            {% endfor %}
        </div>

        <div class="account-info-right mobile-font-size">
            <div class="card">
                {% if user.player.all.first.logo %}
                    <img src="{{ user.player.all.first.logo.url }}" class="card-img-top">
                {% else %}
                    <img src="{% static 'img/hool_logo.png' %}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    {% for team in current_player_teams %}
                        <h5 class="card-title mobile-font-size-head">{{ team.0.championat.championat }}: {{ team.0.team.name }}</h5>
                    {% endfor %}
                    <p class="card-text">{{ user.last_name }} {{ user.first_name }} {{ user.player.patronymic }}</p>
                    <button type="button" class="btn btn-success mobile-font-size" id="invite-btn-pg">Invite player</button>
                    <button type="button" class="btn btn-secondary mobile-font-size" id="logout-btn-pg">Log Out</button>
                    <label id="invite-mes-label" class="form-text text-muted mobile-font-size" style="display:none; color:#ff0000!important"></label>
                </div>
            </div>
        </div>
    {% elif user.is_authenticated and not user.player.is_captain %}
        <div class="account-info-left mobile-font-size">
            {% if notifications.count > 0 %}
                <a class="btn btn-primary group-btn" data-toggle="collapse" href="#notifications" role="button" aria-expanded="false">
                    Bids
                </a>
                <div class="collapse" id="notifications">
                    <ul class="list-group notifications-list">
                        {% for notif in notifications %}
                        <li class="list-group-item
                            {% if not notif.accepted and not notif.declined %}list-group-item-secondary
                            {% elif notif.accepted %}list-group-item list-group-item-success
                            {% elif notif.declined %}list-group-item list-group-item-danger
                            {% endif %}">
                            {{ notif.source_team.name }} &#10132; {{ notif.target_team.name }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="account-info-right mobile-font-size">
            <div class="card"">
                {% if user.player.logo %}
                <img src="{{ user.player.logo.url }}" class="card-img-top">
                {% else %}
                <img src="{% static 'img/hool_logo.png' %}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    {% for team in current_player_teams %}
                    <h5 class="card-title mobile-font-size-head">
                        <label>{{ team.0.championat.championat }}:</label>
                        <button id="current-team-{{ team.0.team.id }}" type="button" class="btn btn-link btn-lg current-team mobile-font-size-head" data-target="{{ team.0.team.id }}"
                            {% if team.2 %}disabled{% endif %}>{{ team.0.team.name }}</button>

                        <div class="modal fade mobile-font-size" id="modal-teams-{{ team.0.team.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-teams-{{ team.0.team.id }}-label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <select id="choose-team-{{ team.0.team.id }}">
                                            {% for team in team.1 %}
                                            <option data-target="{{ team.id }}">{{ team.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="accept-team-{{ team.0.team.id }}" name="accept-changed-btn" type="button" class="btn btn-success btn-sm calendar-table accept-btn">&#10003;</button>
                                        <button id="decline-team-{{ team.0.team.id }}" name="decline-changed-btn" type="button" class="btn btn-danger btn-sm calendar-table decline-btn">&#10008;</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </h5>
                    {% endfor %}
                    <p class="card-text">{{ user.last_name }} {{ user.first_name }} {{ user.player.patronymic }}</p>
                    <button type="button" class="btn btn-secondary mobile-font-size" id="logout-btn-pg">Log Out</button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}