{% extends "base.html" %}
{% load static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block body %}
    {% if user.is_anonymous %}
        <form>
            <div class="form-group mobile-font-size-head">
                <label for="username-input-pg">Login</label>
                <input type="input" class="form-control mobile-font-size-head" id="username-input-pg" aria-describedby="emailHelp">
            </div>
            <div class="form-group mobile-font-size-head">
                <label for="password-input-pg">Password</label>
                <input type="password" class="form-control mobile-font-size-head" id="password-input-pg">
                <small id="danger-mes-pg" class="form-text text-muted mobile-font-size" style="display:none; color:#ff0000!important">Password or username is wrong</small>
            </div>
            <div class="form-group mobile-font-size-head">
                <label for="email-input-pg">Email</label>
                <input type="input" class="form-control mobile-font-size-head" id="email-input-pg">
            </div>
            <div class="form-group mobile-font-size-head">
                <label for="firstname-input-pg">Name</label>
                <input type="input" class="form-control mobile-font-size-head" id="firstname-input-pg">
            </div>
            <div class="form-group mobile-font-size-head">
                <label for="lastname-input-pg">Surname</label>
                <input type="input" class="form-control mobile-font-size-head" id="lastname-input-pg">
            </div>
            <div class="form-group mobile-font-size-head">
                <label for="patronymic-input-pg">Middle name</label>
                <input type="input" class="form-control mobile-font-size-head" id="patronymic-input-pg">
            </div>
            <div class="form-group mobile-font-size-head">
                <label for="lastname-input-pg">Birth date</label>
                <input type="date" class="form-control mobile-font-size-head" id="birthday-input-pg">
            </div>
            <div class="form-group mobile-font-size-head">
                <label for="card-input-pg">Номер карты ЮС</label>
                <input type="input" class="form-control mobile-font-size-head" id="card-input-pg">
                <small id="card-help" class="form-text text-muted">Введи номер карты ЮС, если ее нет то '-'</small>
            </div>
            <div class="form-group mobile-font-size-head">
                <label for="trips-input-pg">Количетсво выездов</label>
                <input type="input" class="form-control mobile-font-size-head" id="trips-input-pg">
                <small id="trips-help" class="form-text text-muted">Количество выездов за Великий и Могучий</small>
            </div>
            <div class="form-group mobile-font-size-head">
                <label for="vk-input-pg">VK profile</label>
                <input type="input" class="form-control mobile-font-size-head" id="vk-input-pg">
                <small id="vk-help" class="form-text text-muted">Input link to VK profile, if you haven't set '-'</small>
            </div>
            <div class="form-group mobile-font-size-head">
                <label for="inst-input-pg">Instagram profile</label>
                <input type="input" class="form-control mobile-font-size-head" id="inst-input-pg">
                <small id="inst-help" class="form-text text-muted">Input Instagram profile, if you haven't set '-'</small>
            </div>
            <input type="button" class="btn btn-primary mobile-font-size-head" id="signup-btn-pg-form" value="Регистрация">
            <label id="error-mes-label" class="form-text text-muted mobile-font-size" style="display:none; color:#ff0000!important">Something went wrong, try later</label>
        </form>
    {% endif %}
{% endblock %}