{% extends "base.html" %}
{% load static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
<script src="{% static 'js/calendar_set.js' %}"></script>
{% endblock %}

{% block body %}

    {% for event in calendar %}
        <a class="btn btn-primary" data-toggle="collapse" href="#calendar{{ event.0.name }}{{ event.1.name }}" role="button" aria-expanded="false" aria-controls="collapseExample">
            {{ event.0.name }}{{ event.1.name }}
        </a>

        <div class="collapse" id="calendar{{ event.0.name }}{{ event.1.name }}">
            <div class="card card-body">
                <table class="table table-dark table-borderless" id="event-{{ event.0.id }}{{ event.1.id }}">
                    <tbody>
                        {% for game in event.2 %}
                            <tr>
                                <th scope="row"><span id="row-{{ game.id }}" data-target="{{ game.group.id }}">{{ game.group.league }}{{ game.group.name }}</span></th>
                                {% if game.home.logo %}
                                    <td><img src="/{{ game.home.logo }}" alt="{{ game.home.name }}" style="height:30px; width:30px"></td>
                                {% else %}
                                    <td><img src="{% static 'img/fclm_logo.png' %}" alt="{{ game.home.name }}" style="height:30px; width:30px"></td>
                                {% endif %}
                                <td>
                                    {% if not game.off and user.is_staff %}
                                        <select id="home-{{ game.id }}" name="home-team-select" size="1" style="display:inline-block; text-align:right; float:right">
                                            <option data-target="{{ game.home.id }}">{{ game.home.name }}</option>
                                            {% for team in teams %}
                                                {% if game.group in team.group.all and not game.off %}
                                                    <option value="{{ team.name }}" data-target="{{ team.id }}">{{ team.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                    <span style="display:block; text-align:right">{{ game.home.name }}</span>
                                    {% endif %}
                                </td>
                                <td align="center">
                                {% if not game.off %}
                                    {% if user.is_authenticated and user.player.all.first.is_captain and game.home in user.player.all.first.team.all or user.is_authenticated and user.player.all.first.is_captain and game.visitors in user.player.all.first.team.all or user.is_staff %}
                                        <input id="home-goals-{{ game.id }}" type="number" min="0" step="1" style="display:inline-block; max-width:40px; max-height: 20px"
                                               {% if not game.off %}disabled{% endif %}>
                                    {% endif %}
                                    <img src="{% static 'img/vs.png' %}" alt="VS" style="height:30px; width:30px; display:inline-block; margin:auto">
                                    {% if user.is_authenticated and user.player.all.first.is_captain and game.home in user.player.all.first.team.all or user.is_authenticated and user.player.all.first.is_captain and game.visitors in user.player.all.first.team.all or user.is_staff %}
                                        <input id="visitors-goals-{{ game.id }}" type="number" min="0" step="1" style="display:inline-block; max-width:40px; max-height: 20px"
                                               {% if not game.off %}disabled{% endif %}>
                                    {% endif %}
                                {% else %}
                                    <span style="display:block; text-align:center">{{ game.home_goals }}-{{ game.visitors_goals }}</span>
                                {% endif %}
                                </td>
                                <td>
                                    {% if not game.off and user.is_staff %}
                                        <select id="visitors-{{ game.id }}" name="visitors-team-select" size="1" style="display:block; text-align:left; float:left">
                                            <option data-target="{{ game.visitors.id }}">{{ game.visitors.name }}</option>
                                            {% for team in teams %}
                                                {% if game.group in team.group.all and not game.off %}
                                                    <option value="{{ team.name }}" data-target="{{ team.id }}">{{ team.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <span style="display:block; text-align:left">{{ game.visitors.name }}</span>
                                    {% endif %}
                                </td>
                                {% if game.visitors.logo %}
                                    <td><img src="/{{ game.visitors.logo }}" alt="{{ game.visitors.name }}" style="height:30px; width:30px"></td>
                                {% else %}
                                    <td><img src="{% static 'img/fclm_logo.png' %}" alt="{{ game.home.name }}" style="height:30px; width:30px"></td>
                                {% endif %}
                                <td>
                                    {% if not game.off and user.is_authenticated and user.player.all.first.is_captain and game.check_date and not game.answer and game.home in user.player.all.first.team.all or not game.off and user.is_authenticated and user.player.all.first.is_captain and game.check_date and not game.answer and game.visitors in user.player.all.first.team.all or user.is_staff and not game.off %}
                                        <select id="game-{{ game.id }}" name="game-date-select" size="1"
                                                {% if game.requester and not user.is_staff %}disabled{% endif %}>
                                            <option data-target="slot-{{ game.game_date.id }}">{% if game.game_date %}{{ game.game_date.slot|date:'H:i d.m.Y' }}{% else %}Choose game date{% endif %}</option>
                                            {% for ts in event.3 %}
                                                <option data-target="slot-{{ game.game_date.id }}">{{ ts.slot|date:'H:i d.m.Y' }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <span>{{ game.game_date.slot|date:'H:i d.m.Y' }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not game.off and user.is_authenticated and user.player.all.first.is_captain and not game.answer and game.home in user.player.all.first.team.all or not game.off and user.is_authenticated and user.player.all.first.is_captain and not game.answer and game.visitors in user.player.all.first.team.all or user.is_staff and not game.off %}
                                        <button id="accept-{{ game.id }}" name="accept-changed-btn" type="button" class="btn btn-success btn-sm" data-user="{% if user.is_staff %}staff{% else %}captain{% endif %}"
                                                {% if game.requester == user %}disabled{% endif %}>&#10003;</button>
                                        <button id="decline-{{ game.id }}" name="decline-changed-btn" type="button" class="btn btn-danger btn-sm" data-user="{% if user.is_staff %}staff{% else %}captain{% endif %}">&#10008;</button>
                                    {% elif game.off and user.is_authenticated %}
                                        <span>&#127937;</span>
                                    {% else %}
                                        <span>&#21325;</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock %}