{% extends "base.html" %}
{% load static %}

{% block body %}
    <ul class="list-group">
        {% if not all_history %}
            {% for championat in championats %}
                <a class="btn btn-primary group-btn" data-toggle="collapse" href="#history{{ championat.id }}" role="button" aria-expanded="false">
                    {{ championat.championat }}
                </a>
                <div class="collapse" id="history{{ championat.id }}">
                    <div class="card card-body">
                        {% for league in championat.league.all %}
                            <li class="list-group-item group-btn"><a href="/year/{{ league.championat.season.year }}/{{ league.championat.id }}/{{ league.name }}">{{ league.championat.championat }} - {{ league.name }}</a></li>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% else  %}
            {% for season in seasons %}
                <a class="btn btn-primary" data-toggle="collapse" href="#history{{ season.0.year }}" role="button" aria-expanded="false">
                    {{ season.0.year }}
                </a>
                <div class="collapse" id="history{{ season.0.year }}">
                    <div class="card card-body">
                        {% for championat in season.1 %}
                            <a class="btn btn-primary" data-toggle="collapse" href="#history{{ championat.id }}" role="button" aria-expanded="false">
                                {{ championat.championat }}
                            </a>
                            <div class="collapse" id="history{{ championat.id }}">
                                <div class="card card-body">
                                    {% for league in championat.league.all %}
                                        <a href="/year/{{ championat.season.year }}/{{ championat.id }}/{{ league.name }}">{{ league.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}