{% extends "base.html" %}
{% load static %}

{% block head %}
{{ block.super }}
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/html-react-parser@latest/dist/html-react-parser.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="{% static 'js/news_redactor.js' %}" type="text/babel"></script>
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <script src="https://cdn.tiny.cloud/1/ed8iye116xbldqc0pivpr5uii4uk3ikhgesv9lpqmh4qhlm8/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <style>
        li::before {
            content: none;
        }
    </style>
{% endblock %}

{% block body %}

{% if request.user.is_staff %}
<div class="add-btn"><button type="button" class="btn btn-light add-new-btn" id="add-new-btn-id">&#10010;</button></div>
{% endif %}

<div id="root"></div>

<div class="modal" tabindex="-1" id="news_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="model_new_title">Новость</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="correct_new_head_span">Заголовок новости</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="correct_new_head_span" id="correct_new_head">
                </div>
                <hr />
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Изображение новости</span>
                    </div>
                    <input name="myFile" type="file" id="correct_new_file">
                </div>
                <hr />
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Краткое содержание</span>
                    </div>
                    <textarea class="form-control preread_text" aria-label="With textarea" id="correct_new_preread"></textarea>
                </div>
                <hr />
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Содержание новости</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea" id="correct_new_body"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="close_update">&#10008;</button>
                <button type="button" class="btn btn-success" id="update_new">&#10003;</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}