{% extends "base.html" %}
{% load static %}

{% block body %}
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="calendar-table">Место</th>
                    <th scope="col" class="calendar-table">Название</th>
                    <th scope="col" class="calendar-table">И</th>
                    <th scope="col" class="calendar-table">В</th>
                    <th scope="col" class="calendar-table">Н</th>
                    <th scope="col" class="calendar-table">П</th>
                    <th scope="col" class="calendar-table">МЗ</th>
                    <th scope="col" class="calendar-table">МП</th>
                    <th scope="col" class="calendar-table">РМ</th>
                    <th scope="col" class="calendar-table">О</th>
                </tr>
            </thead>
            <tbody>
                {% for team in table %}
                    {% if forloop.counter == 1 %}<tr bgcolor="#15c115">{% elif forloop.counter == table|length %}<tr bgcolor="#ef3e3e">{% else %}<tr>{% endif %}
                        <th scope="row" class="calendar-table">{{ forloop.counter }}</th>
                        <td class="calendar-table"><a href="/team/{{ team.team.id }}">{{ team.team.name }}</a></td>
                        <td class="calendar-table">{{ team.games }}</td>
                        <td class="calendar-table">{{ team.wins }}</td>
                        <td class="calendar-table">{{ team.drawn }}</td>
                        <td class="calendar-table">{{ team.loses }}</td>
                        <td class="calendar-table">{{ team.rifl }}</td>
                        <td class="calendar-table">{{ team.concede }}</td>
                        <td class="calendar-table">{{ team.dif }}</td>
                        <td class="calendar-table">{{ team.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}