{% extends "base.html" %}
{% load static %}

{% block body %}

<h1 class="rules">РЕГЛАМЕНТ ПРОВЕДЕНИЯ ЧЕМПИОНАТА БОЛЕЛЬЩИКОВ «ЛОКОМОТИВА» ПО ФУТБОЛУ</h1>
<ol class="head-number">
    <li>Общие положения
        <ol class="insert-number">
            <li>Чемпионат болельщиков «Локомотива» по футболу (далее — ЧБЛ) проводится с целью повышения популярности здорового образа жизни, занятий спортом и любительского футбола среди болельщиков ФК «Локомотив» Москва, их общения и привлечения новых людей в среду боления.</li>
            <li>Розыгрыши ЧБЛ проводятся ежегодно на регулярной основе.</li>
            <li>ЧБЛ является строго некоммерческим турниром. Организация и проведение каждого конкретного розыгрыша ЧБЛ осуществляется силами болельщиков «Локомотива» на добровольных началах. Денежный фонд ЧБЛ, формируемый из взносов команд-участниц, тратится строго на оплату организации ЧБЛ и изготовление призов победителям.</li>
            <li>Структура, место и сроки проведения каждого розыгрыша ЧБЛ регулируются частными регламентами соответствующих розыгрышей ЧБЛ.</li>
            <li>Частные регламенты проведения конкретных розыгрышей ЧБЛ не должны противоречить положениям настоящего Регламента.</li>
        </ol>
    </li>
    <li>Руководство
        <ol class="insert-number">
            <li>Общее руководство организацией и проведением ЧБЛ осуществляет организационный комитет (далее — Оргкомитет ЧБЛ), избранный из числа активных болельщиков «Локомотива» (UnitedSouth).</li>
            <li>Ответственность за непосредственную организацию и проведение ЧБЛ возлагается на выбранного Оргкомитетом ЧБЛ своего представителя (далее — Представитель Оргкомитета ЧБЛ). Контакты выбранного для организации и проведения конкретного розыгрыша Представителя Оргкомитета ЧБЛ сообщаются заинтересованным лицам заблаговременно вместе с частным регламентом проведения конкретного розыгрыша ЧБЛ.</li>
            <li>Представитель Оргкомитета ЧБЛ является «точкой входа» для представителей команд и осуществляет двустороннюю коммуникацию между представителями команд-участниц и Оргкомитета ЧБЛ.</li>
            <li>Спорные вопросы, возникающие в ходе проведения конкретного розыгрыша ЧБЛ, доносятся заинтересованными лицами до Представителя Оргкомитета ЧБЛ и решаются Оргкомитетом ЧБЛ с учётом настоящего Регламента, частного регламента проведения конкретного розыгрыша ЧБЛ и принципами равных прав и честной игры.</li>
            <li>Ответственность за оперативное управление и контроль за организацией и проведением ЧБЛ возлагается на Председателя Оргкомитета ЧБЛ.</li>
        </ol>
    </li>
    <li>Организация и проведение
        <ol class="insert-number">
            <li>Каждая команда-участница ЧБЛ должна выбрать из числа своих игроков представителя команды.</li>
            <li>Представители команд наделяются полномочиями обсуждения вопросов и принятия решений, касающихся их команд. Голос представителя приравнивается к общему мнению команды.</li>
            <li>Игроки и представители команд, принимающие участие в ЧБЛ, обязаны соблюдать все требования настоящего Регламента и частного регламента конкретного розыгрыша ЧБЛ, проявляя при этом высокую дисциплину, организацию, уважение к судье, соперникам и зрителям.</li>
            <li>Представители команд не имеют права вмешиваться в действия судей матча, они несут полную ответственность за поведение игроков своей команды на поле и вне его в части проведения ЧБЛ.</li>
            <li>На всех играх ЧБЛ представители команд-участниц несут ответственность за поведение своих болельщиков.</li>
            <li>За нарушение правил проведения ЧБЛ к командам могут быть применены дисциплинарные санкции.</li>
            <li>Размер и формат санкций определяется Оргкомитетом ЧБЛ в индивидуальном порядке с учётом настоящего Регламента, частного регламента проведения конкретного розыгрыша ЧБЛ и принципами равных прав и честной игры.</li>
            <li>Для представителей команд и организаторов турнира формируется общий чат для оперативного обсуждения и решения вопросов.</li>
            <li>По случаям, не предусмотренным настоящим Регламентом или частным регламентом конкретного розыгрыша ЧБЛ, решение принимается Оргкомитетом ЧБЛ.</li>
            <li>Формат конкретного розыгрыша ЧБЛ, его сроки и размеры взносов за участие определяются для каждого конкретного розыгрыша индивидуально на основании количества желающих принять участие команд, времени года и частных организационных моментов и доводятся до всех заинтересованных лиц заблаговременно частным регламентом конкретного розыгрыша ЧБЛ.</li>
            <li>Контакты организаторов:
                <ul class="sublist">
                    <li>электронная почта: <a href="mailto:champ_lokofans@mail.ru">champ_lokofans@mail.ru</a></li>
                    <li>Instagram: <a href="https://instagram.com/champ_lokofans">@champ_lokofans</a></li>
                </ul>
            </li>
            <li>Вся информация о проведении ЧБЛ, календаре и результатах игр публикуется в соцсетях ЧБЛ:
                <ul class="sublist">
                    <li>VK: <a href="https://vk.com/champ_lokofans">champ_lokofans</a></li>
                    <li>Instagram: <a href="https://instagram.com/champ_lokofans">@champ_lokofans</a></li>
                </ul>
            </li>
        </ol>
    </li>
    <li>Участники
        <ol class="insert-number">
            <li>К участию в любом розыгрыше ЧБЛ допускаются только болельщики «Локомотива» и игроки, не являющиеся профессиональными футболистами.</li>
            <li>Перед началом конкретного розыгрыша ЧБЛ представители команд формируют и направляют Представителю Оргкомитета ЧБЛ заявку команды.</li>
            <li>Заявка должна содержать следующую информацию по каждому игроку:
                <ul class="sublist">
                    <li>ФИО</li>
                    <li>игровой номер</li>
                    <li>дата рождения (в формате ДД.ММ.ГГГГ)</li>
                    <li>номер клубной карты или карты <a href="http://www.unitedsouth.ru/">UnitedSouth</a> или номер абонемента</li>
                    <li>количество выездов</li>
                </ul>
            </li>
            <li>По игрокам, не имеющим клубной карты или карты UnitedSouth или абонемента, дополнительно необходимо предоставить ссылки на их профили в соцсетях (ВКонтакте/Фейсбук, Инстаграм) и свидетельства принадлежности к болению за ФК «Локомотив».</li>
            <li>В заявке команды должно быть не менее 9 и не более 25 игроков.</li>
            <li>Ответственность за правильность заявки несёт представитель команды.</li>
            <li>Оргкомитет ЧБЛ вправе потребовать доказательства соблюдения правил настоящего Регламента тем или иным игроком и принять санкции к команде- нарушителю.</li>
            <li>До окончания группового этапа (в случае его проведения) команда может дозаявить не более трёх новых игроков, заявки на этапе плей-офф запрещены.</li>
            <li>Игрок, заявленный за одну из команд, участвующих в конкретном розыгрыше ЧБЛ, не имеет права в текущем розыгрыше ЧБЛ играть за другую команду.</li>
        </ol>
    </li>
    <li>Правила игры
        <ol class="insert-number">
            <li>В составе одной команды на поле может выходить 9 (девять) игроков (включая вратаря). По договорённости команд количество игроков на поле может быть увеличено или уменьшено.</li>
            <li>Матч проводится в 2 (два) тайма по 40 (сорок пять) минут каждый с перерывом в 10 (десять) минут.</li>
            <li>Количество замен не ограничено. Замены проводятся с недопущением нахождения лишнего игрока на поле и получения преимущества команды, проводящей замену.</li>
            <li>Игры проводятся стандартным футбольным мячом размера 5.</li>
            <li>Мяч на игру предоставляется командой, являющейся номинальным хозяином поля.</li>
            <li>В случае порчи или утери мяча команда, допустившая такую порчу или утерю, возмещает убыток владельцу мяча. Размер и формат возмещения согласовывается с владельцем мяча.</li>
            <li>Из аута мяч вводится руками.</li>
            <li>Игра руками вратаря после касания игрока своей команды запрещена.</li>
            <li>За нарушение во вратарской площади назначается 7-метровый пенальти.</li>
            <li>Положение «вне игры» не фиксируется.</li>
            <li>Цвет формы/манишек/футболок команды должен быть единым у всех игроков, выходящих на поле, и должен отличаться от цвета формы соперника.</li>
            <li>Запрещены элементы экипировки с эмблемами и названиями профессиональных клубов, за исключением ФК «Локомотив» Москва и ФК «Казанка».</li>
        </ol>
    </li>
    <li>Прочие положения
        <ol class="insert-number">
            <li>Награждение команд-победительниц осуществляется сразу после финального матча в присутствии команд-участниц финала и матча за третье место.</li>
            <li>К информационному освещению матчей ЧБЛ допускаются только аккредитованные Оргкомитетом ЧБЛ лица.</li>
            <li>Для аккредитации лиц из п.6.2 представителю команды необходимо направить запрос в Оргкомитет ЧБЛ с указанием ФИО и СМИ аккредитуемого лица, датой матча и целью освещения. Оргкомитет ЧБЛ вправе отказать представителю команды в аккредитации без объяснения причин.</li>
            <li>Представители команд-участниц вправе запретить аккредитованному для освещения лицу фото- и видеосъёмку своей команды или отдельных игроков с их указанием. Ответственность за нарушение такого запрета возлагается на команду, заявившую аккредитованное для освещения лицо.</li>
        </ol>
    </li>
</ol>

{% endblock %}