.top-menu-btn {
    margin-right: 1rem;
}

.mainworkspace {
    width: 80%;
    margin: 0 auto;
    background-color: #efefef;
    display: flex;
}

.workspace-content {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

.head-logo {
    width: 30px;
    height: 30px;
}

.head-text {
    font-size: 1rem;
}

.mobile {
    display: none;
}

.signin-logo {
    width: 35px;
    height: 30px;
}

.ulc-footer {
    background-color: #28a745;
}

.footer-copyright {
    color: #fff;
    text-align: right;
    margin-right: 1rem;
}

@media screen and (max-width: 1024px) {
    .mainworkspace {
        width: 100%
    }

    .desktop {
        display: none;
    }

    .head-logo {
        width: 90px;
        height: 90px;
    }

    .head-text {
        font-size: 3.5rem;
    }

    .mobile {
        display: inline-block;
        font-size: 3rem;
    }

    .head-menu {
        display: block;
        margin: 1rem;
    }

    .head-menu-item {
        display: flex;
        margin-bottom: 1rem;
    }

    .mobile-font-size {
        font-size: 2.5rem;
    }

    .mobile-font-size-head {
        font-size: 3.5rem;
    }

    .mobile-menu {
        min-width: 300px;
        right: 0;
        position: absolute;
        background-color: #fff;
        z-index: 100;
    }

    .signin-logo {
        width: 180px;
        height: 150px;
    }

    .ulc-footer {
        font-size: 2rem;
    }
}