.top-menu-btn {
    margin-right: 1rem;
}

.mainworkspace {
    width: 80%;
    margin: 0 auto;
    background-color: #efefef;
    display: flex;
}

.workspace-content {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}